" IDEAVim configuration
" Inspiration :
"   - https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/

let mapleader = " "
set scrolloff=10
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set notimeout
set relativenumber
set clipboard=unnamed
set ignorecase
set smartcase
set incsearch
set hlsearch

" Navigation between files
map <Leader>ff :action GotoFile<CR>
map <Leader>fr :action RecentFiles<CR>

" Navigation inside a file
map <Leader>gs :action GotoSymbol<CR>
map <Leader>gm :action FileStructurePopup<CR>

" Plugin
set surround
