[core]
	excludesFile = ~/.gitignore
	autocrlf = input
	editor = vim
[user]
	name = Jonathan
	email = contact@grafikart.fr
	signingkey = ~/.ssh/git.pub
[gpg]
    format = ssh
[fetch]
	prune = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
